{% extends 'iotemperature/base.html' %}
{% block content %}


{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="{% static 'iotemperature/js/myCharts.js' %}"></script>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-2">
                    <div class="row">
                        {% for s in sensors %}
                            <div class="col-4 col-sm-4 col-md-3 col-lg-12 col-xl-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="sensor{{ s.id }}">
                                    <label class="form-check-label" for="sensor{{ s.id }}">
                                        {{ s }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>

            <div class="col-md-12 col-lg-10">
                <canvas id="mychart"></canvas>
            </div>
        </div>
    </div>

{% endblock %}


