{% extends 'iotemperature/base.html' %}
{% block content %}

<div class="container" id="clusters-list">
    {% for c in clusters %}
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-5">

            <div class="card mt-3 text-center shadow rounded">
                <div class="card-body">
                    <h3 class="card-title" id="cluster-name">{{ c }}</h3>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}
{% block scripts %}
    {% load static %}

{% endblock scripts %}
