{% extends 'iotemperature/base.html' %}
{% block content %}

<div class="container" id="sensors-list">
    {% for s in sensors %}
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-5">

            <div class="card mt-3 text-center shadow rounded">
                <div class="card-body">
                    <h3 class="card-title">{{ s }}
                        <button type="button" class="close float-right">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                    {% if s.friendlyName %}
                    <p class="card-text" style="margin-bottom: 0"><small class="text-muted">{{ s.IPAddress }}</small></p>
                    {% endif %}
                    <button class="btn btn-primary" id="bottone-modifica" type="button">Modifica
                    </button>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
