/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Raleway";
}

body {
	background-color: #f4f4f4 !important;
}


/* START NAVBAR */
.bg-light {
	background:#417690 !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}

.navbar-light .navbar-nav .nav-link{
	margin-right: 1em !important;
}

.navbar-light .navbar-collapse{
	justify-content: flex-end;
}

.navbar-light .navbar-toggler{
	background:#fff !important;
}
/* END NAVBAR */


/* CARD STYLE */
.card .card-title {
	margin-bottom: 0px;
}
/* END CARD STYLE */


/* MIS CARD STYLE */
#mis-card-body {
	padding-bottom: 10px;
}

#IPAddress {
	margin-bottom: 0;
}

#sensor-data {
	margin-top: 5px;
	margin-bottom: 15px;
}

.card .card-footer {
	padding: 8px;
}

#bottone-grafico {

}
/* END MIS CARD STYLE */

.close {
	font-size: 1.8rem;
}

#bottone-modifica {
	margin-top: 14px;
}
